<div class="modal-overlay" *ngIf="producto">
  <div class="modal-content">
    <i class="bi bi-x-circle-fill fs-3 position-absolute top-0 end-0 m-3"
       (click)="cerrarModal()"
       style="cursor: pointer; color: #dc143c;"></i>    
  
    <div class="modal-detalle-container">
      <div class="imagenes-adicionales">
        <div class="imagen-principal">
          <img [src]="producto.imagenSeleccionada || producto.imagen" alt="Imagen principal" class="imagen-principal">
        </div>
        <div class="miniaturas-container">
          <img *ngFor="let mini of obtenerTodasLasImagenes()"
               [src]="mini"
               (click)="seleccionarImagen(mini)"
               class="miniatura"
               [class.activa]="mini === producto.imagenSeleccionada">
        </div>
      </div>
  
      <div class="informacion-producto-detalle">
        <h2 class="titulo-producto-detalle">{{ producto.nombre }}</h2>
        <p class="descripcion-producto-detalle">{{ producto.descripcion }}</p>
  
        <div class="precio-container">
          <span class="precio-simbolo">$</span>
          <span class="precio-valor">{{ producto.precio }}</span>
        </div>
        
        <div class="talles-container">
          <h4 class="talles-titulo">Selecciona tu talle:</h4>
        
          <div class="talles-buttons-container">
            <button type="button" class="talle-button" data-talle="S">S</button>
            <button type="button" class="talle-button" data-talle="M">M</button>
            <button type="button" class="talle-button" data-talle="L">L</button>
          </div>
        
          <a href="#" class="guia-talles">
            <i class="bi bi-rulers"></i> Guía de talles
          </a>
        </div>

        <div class="boton-agregar-container">
          <button class="btn btn-success">Agregar al carrito</button>
        </div>
      </div>
    </div>
  </div>
</div>
  