:host {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; REMOVED to allow full width */
    color: #ffffff;
    background-color: #1a0303;

    overflow-x: hidden;
  }

  
  .bebas-neue-regular {
      font-family: "Bebas Neue", sans-serif;
      font-weight: 400;
      font-style: normal;
  }
  
  .roboto {
      font-family: "Roboto", sans-serif;
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: normal;
      font-variation-settings: "wdth" 100;
  }

  app-root {
      display: block;
      width: 100%;
  }
