html {
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.bi-x-lg{
    font-size: 24px;
}

/* QUIERO CAMBIAR EL COLOR DEL SCROLLBAR */
::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
}

::-webkit-scrollbar-track {
    background: #1a0303 !important;
    border-radius: 10px !important;
}

::-webkit-scrollbar-thumb {
    background: #dc143c !important;
    border-radius: 10px !important;
}

::-webkit-scrollbar-thumb:hover {
    background: #dc143c !important;
    border-radius: 10px !important;
}